<!DOCTYPE html>
<style type="text/css">



</style>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Wessex Fantasy Hockey</title>
	<nav class="navbar navbar-light" style="background-color: #800000;">
  		<a class="navbar-brand" style="color:white; " href="/">Fantasy Hockey</a>
	  	<ul class="navbar-nav mr-auto" style="color: white;">
	  		<li class="nav-item">
	  			<a class="nav-link" href="/addplayer">Add Player</a>
	  		</li>
	  	</ul>
	</nav>


</head>

<div style="margin: auto; width: 75%; padding: 10px">
		{% with messages = get_flashed_messages(with_categories=true) %}
		  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		  {% if messages %}
		    {% for category, message in messages %}
		      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      <!-- <strong>Title</strong> --> {{ message }}
		      </div>
		    {% endfor %}
		  {% endif %}
		{% endwith %}
</div>


<body style="background-color: #0a1a2d; ">
<div style="margin: auto; width: 75%; padding: 10px">
{% block content %}
{% endblock %}
	

</div>
</body>

</html>