<!DOCTYPE html>
<style type="text/css">



</style>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Wessex Fantasy Hockey</title>
	<nav class="navbar navbar-light" style="background-color: #800000;">
  		<a class="navbar-brand" style="color:white" href="#">Wessex Fantasy Hockey</a>

	</nav>
</head>

<body style="background-color: #0a1a2d; ">
<div style="margin: auto; width: 75%; padding: 10px">
{% block content %}
{% endblock %}
	

</div>
</body>

</html>